.hero-slider{
   display: flex;
}
.hero-slider-area{
   position: relative;
   display: flex;
   height: 100%;
   transition: all 0.3s;
}
.hero-overlay{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #00000021;
   z-index: 1;
}
.hero-slide-btn-area{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   padding: 100px 70px;
}
.hero-slide-btn{
   font-size: 25px;
   padding: 8px;
   border: none;
   margin: 0px 4px -12px 4px;
   background: none;
   cursor: pointer;
   color: #ffffff;
   transition: all 0.3s;
   z-index: 10;
}
.hero-slide-btn:hover{
   color: var(--main-color);
}
.hero-slide-btn-area span{
   font-size: 20px;
   margin: 0 7px;
   border-radius: 50%;
   border: none;
   transition: all 0.3s;
   color: #ffffff;
   cursor: pointer;
   z-index: 10;
}
.hero-slide-btn-area span.slider-active{
   margin-bottom: 3px;
   transform: scale(2);
   color: var(--main-color);
}
.hero-slide-btn-area span:hover{
   color: var(--main-color);
}
.hero-slide{
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   width: 100vw;
   height: 100vh;
   object-fit: cover;
}
.hero-slide-infos{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.hero-slide-infos span{
   margin: 0 10px;
}
.icon-moreinfos{
   cursor: pointer;
   font-size: 18px;
}
.hero-slide-left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   width: 55%;
   z-index: 2;
   color: #ffffff;
   padding: 70px;
   background: linear-gradient(270deg, #00000004, #000000ef 90%);
   z-index: 5;
}
.hero-slide-left h1{
   font-size: 44px;
   font-family: 'Orbitron', serif;
}
.hero-overview{
   font-size: 15px;
   margin-bottom: 12px;
}
.hero-overview-mobile{
   font-size: 12px;
   margin-bottom: 10px;
   display: none;
}

.page-number{
   color: var(--light-blue);
}
.movies-title-area{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 10px;
   border-bottom: 4px solid var(--main-color);
   margin-bottom: 20px;
}
.movies-title{
   font-size: 25px;
}
.movies-list, .movies-area{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.movie{
   width: 250px;
   margin: 10px;
   border-radius: 10px;
   background-color: #000000;
   transition: all 0.5s;
   position: relative;
   overflow: hidden;
   cursor: pointer;
   color: #ffffff;
}
.movie:hover .movie-poster img{
   width: inherit;
   height: auto;
   opacity: 0.5;
   transform: scale(1.10);
}
.movie-poster, .movie-poster img{
   width: 250px;
   height: auto;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   object-fit: cover;
   opacity: 1;
   transition: all 0.5s;
}
.movie-infos{
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 10px;
   background: linear-gradient(#00000012, #000000 90%);
}
.movie-infos span{
   font-size: 14px;
   color: #ededed;
   margin-bottom: 5px;
}
.movie-title{
   font-size: 16px;
   margin-bottom: 3px;
}
.movie-overview{
   font-size: 13px;
   margin: 6px 0;
   padding-bottom: 4px;
   color: #ffffff;
}
.readmore-btn{
   font-size: 15px;
   padding: 5px;
   background-color: var(--main-color);
   border: none;
   border-radius: 6px;
   width: 100%;
   cursor: pointer;
   color: #ffffff;
}
.movie:hover .movie-overview{
   opacity: 1;
   margin-bottom: 0;
}
.movie:hover .readmore-btn{
   opacity: 1;
   margin-bottom: 0;
}
.movie-overview, .readmore-btn{
   opacity: 0;
   margin-bottom: -85px;
   transition: all 0.5s;
}
.prev-next-btn{
   font-size: 20px;
   padding: 12px;
   width: 40%;
   border: none;
   color: var(--main-color);
   background-color: #252525c5;
   transition: all 0.3s;
   cursor: pointer;
   margin: 8px;
}
.prev-next-btn:hover{
   color: #ffffff;
   background-color: var(--main-color);
}
.topRated-slide-btn-area{
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.topRated-slide-btn{
   font-size: 24px;
   padding: 12px;
   height: 90%;
   border: none;
   color: var(--main-color);
   background-color: #252525c5;
   transition: all 0.3s;
   cursor: pointer;
   margin: 0;
   z-index: 10;
   box-shadow: 0px 0px 10px #000000;
}
.topRated-slide-btn:hover{
   color: #ffffff;
   background-color: var(--main-color);
}
.topRated-container{
   display: flex;
   justify-content: start;
   position: relative;
   width: 100%;
   margin: 0 auto;
   overflow: hidden;
}
.topRated-list{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 40px;
   transition: all 0.5s ease;
}
.hero-debut{
   margin: 8px 0;
   padding: 6px 12px;
   border-radius: 8px;
   background-color: var(--main-color);
}