@media screen and (max-width: 768px){
   .header{
      padding: 5px 15px;
      background: var(--dark-blue);
   }
   .header nav{
      padding: 0;
   }
   .header nav ul {
      display: none;
   }
   .logo{
      font-size: 22px;
   }
   .logo img{
      width: 80px;
   }
   .login{
      padding: 6px 10px;
   }
   .search-lupe-mobile{
      display: block;
   }
   .search-area{
      display: none;
      padding: 5px;
      margin-left: 8px;
   }
   .showSearch{
      width: 90%;
   }
   .user-image-header{
      width: 36px;
      height: 36px;
   }
   .hero-slider-area{
      height: auto;
   }
   .hero-slide{
      height: 30vh;
      margin-top: 70px;
   }
   .hero-slide-left {
      width: 99%;
      padding: 10px 15px;
      justify-content: end;
      background: linear-gradient(270deg, #00000004, #00000046 90%);
      margin-bottom: 0px;
   }
   .hero-slide-left h1{
      font-size: 30px;
   }
   .hero-slide-infos, .readmore-details{
      font-size: 12px;
      flex-wrap: wrap;
      width: 100%;
   }
   .hero-debut{
      padding: 4px 8px;
   }
   .watchBtn {
      width: 100px;
      height: 40px;
      font-size: 16px;
      border-radius: 12px;
      margin-top: 5px;
   }
   .hero-slide-btn-area {
      padding: 10px;
      bottom: 440px;
   }
   .hero-slide-btn{
      font-size: 20px;
      padding: 8px;
      border: none;
      margin: 0px 0px -12px 0px;
      background: none;
      cursor: pointer;
      color: #ffffff;
      transition: all 0.3s;
      z-index: 10;
   }
   .hero-slide-btn-area span{
      font-size: 17px;
      margin: 0 7px;
      border-radius: 50%;
      border: none;
      transition: all 0.3s;
      color: #ffffff;
      cursor: pointer;
      z-index: 10;
   }
   .addBtn{
      font-size: 16px;
      padding: 7px 14px;
   }
   .hero-overview{
      display: none;
   }
   section {
      padding: 3%;
   }
   .movie, .topRated-movie{
      width: 150px;
      margin: 5px;
      border-radius: 10px;
      background-color: #000000;
      transition: all 0.5s;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      color: #ffffff;
   }
   .movie-poster, .movie-poster img, .topRated-poster, .topRated-poster img{
      width: 150px;
      height: auto;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      object-fit: cover;
      opacity: 1;
      transition: all 0.5s;
   }
   .topRated-slide-btn{
      padding: 6px;
      margin: 0;
   }
   .movie-infos{
      padding: 5px;
   }
   .movie-overview, .readmore-btn{
      margin-bottom: -105px;
   }
   .readmore-infos {
      flex-direction: column-reverse;
      margin-top: 30px;
   }
   .readmore-info-left{
      margin: 0;
   }
   .readmore-info-left h1 {
      font-size: 24px;
      text-align: center;
      margin: 0 auto;
      margin-top: 8px;
      margin-bottom: 8px;
   }
   .readmore-info-left p{
      font-size: 13px;
   }
   .readmore-info-left span{
      margin: 0 5px;
   }
   .readmore-info-left .buttons-area{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .readmore-overview{
      margin: 10px 5px;
      text-align: center;
   }
   .hero-release-date{
      display: none;
   }
   .readmore-poster {
      width: 170px;
   }
   .readmore-adult{
      padding: 5px 8px;
   }
   .readmore-details{
      justify-content: center;
   }
   .readmore-details .icon-details{
      font-size: 15px;
   }
   .user-details{
      gap: 10px;
   }
   .userpage-container{
      padding: 10px;
   }
   .file-label{
      font-size: 14px;
   }
   .user-info-right{
      flex-direction: column;
   }
   .btnDelete, .btnEdit {
      padding: 6px 12px;
      border-radius: 6px;
      font-size: 15px;
      cursor: pointer;
      border: none;
   }
   .user-image {
      width: 100px;
      height: 100px;
      border: 2px solid var(--light-blue);
      border-radius: 50%;
      object-fit: cover;
    }
   .user-actions{
      justify-content: flex-end;
      width: 100%;
   }
   .user-details{
      flex-direction: column;
   }
   .user-stats h2, .saved-movies h2{
      font-size: 18px;
   }
   .user-stats p, .savedmovie-name{
      font-size: 15px;
   }
   .savedmovie-poster{
      margin-right: 8px;
   }
   .savedmovie-nameyear{
      flex: 1;
   }
}