.search-section{
   margin-top: 60px;
}
.search-result-title{
   font-size: 22px;
}
.search-result-title span {
   font-size: 25px;
   color: var(--main-color);
}
.search-movies-area{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;
}
.buttons-area{
   display: flex;
}