.search-section{
   margin-top: 60px;
}
.search-result-title{
   font-size: 22px;
}
.search-result-title span {
   font-size: 25px;
   color: var(--main-color);
}
.total-movies{
   font-size: 16px;
   margin: 10px;
   color: #979797;
}
.search-movies-area{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;
}
.buttons-area{
   display: flex;
   width: 100%;
}
.buttons-area button{
   width: 40%;
}