.userpage-section {
   margin-top: 120px;
   display: flex;
   justify-content: center;
}
.userpage-container {
   width: 95%;
   max-width: 1200px;
   background-color: #292938;
   border-radius: 15px;
   padding: 20px;
   color: #ffffff;
}
/* Informações do usuário */
.user-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid #75758a;
   padding-bottom: 20px;
   margin-bottom: 20px;
}
.user-profile {
   display: flex;
   text-align: center;
   width: 100%;
}
.user-image-area{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.user-image {
   width: 150px;
   height: 150px;
   border: 2px solid var(--light-blue);
   border-radius: 50%;
   object-fit: cover;
}
#file-input{
   display: none;
}
.file-label{
   padding: 4px 8px;
   border: none;
   border-radius: 4px;
   margin-top: 10px;
   background-color: #52526b;
   cursor: pointer;
}
.user-info-right{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   width: 100%;
}
.username{
   font-size: 22px;
   margin: 10px 0px 0px 10px;
}
.user-actions {
   display: flex;
   gap: 10px;
   height: 100%;
   align-items: flex-end;
}
.btnDelete {
   padding: 8px 16px;
   border-radius: 6px;
   font-size: 16px;
   cursor: pointer;
   border: none;
}
.btnDelete {
   background-color: var(--main-color);
   color: #ffffff;
}
/* Conteúdo inferior */
.user-details {
   display: flex;
   justify-content: space-between;
   gap: 20px;
}
.user-stats,
.saved-movies {
   flex: 1;
   background: #1d1d29;
   padding: 15px;
   border-radius: 10px;
   height: 100%;
}
.saved-movies h2,
.user-stats h2 {
   margin-bottom: 15px;
}
.savedmovie {
   display: flex;
   align-items: center;
   margin-bottom: 12px;
}
.savedmovie-nameyear{
   display: flex;
   flex-direction: column;
   color: #ffffff;
}
.savedmovie-name{
   font-size: 17px;
}
.savedmovie-year{
   font-size: 14px;
   color: #d6d6d6;
   margin-top: 5px;
}
.savedmovie-poster {
   width: 50px;
   border: 2px solid #52526b;
   border-radius: 5px;
   margin-right: 10px;
}
.savedmovie-info {
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
}
.info-icon {
   font-size: 20px;
   color: #ffffff;
   cursor: pointer;
}
.savedmovie-buttons{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.delete-saved-movie{
   color: var(--main-color);
   cursor: pointer;
}